@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Playwrite+VN+Guides&display=swap");

@import "tailwindcss/preflight";
@tailwind utilities;

@import "tailwindcss";

.playwrite-hu {
  font-family: "Playwrite HU", cursive;
  font-weight: 300; /* ou 100 à 400 */
  font-style: normal;
}

.playwrite-vn {
  font-family: "Playwrite VN Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
    top: 40%;
    left: 48%;
    right: 50%;
    bottom: 50%;


}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
